.wrapper {
	.main & {
		position: relative;
		margin-top: $padding / 2;
	}
}

.typography {
	position: absolute;

	left: $padding;
	top: $padding;
  padding: $padding;

  max-width: 20em;
}

.swatches {
	padding-left: 20em + $padding * 2;

  .lt-ie9 & {
    padding-left: 26em + $padding * 2;
  }
  .lt-ie8 & {
    width: 64%;
  }
}
