* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font: 100%/1.5 $helvetica;

	background: #e4e4e4;

  .lt-ie9 & {
    min-width: $page-width-fallback;
  }
}

.wrapper {
  display: block;
	margin: 0 auto;
	max-width: $page-width;

	.lt-ie9 & {
    width: $page-width-fallback;
   }

	.main & {
	}
}

/* HEADER & LOGO */

header {

	float: left;
	width: 100%;

	background-color: black;

	.wrapper {

		position: relative;
		max-width: 35em;
		padding: 2em 0;
	}

	img {
		display: block;
		max-width: 154px;
		margin: 0 auto;
	}

}

/* NAV */

nav {
	display: none;
}


/* MAIN */

.main {

	float: left;
	width: 100%;
	padding-bottom: $padding;

	font-size: 1em;
}

/* TYPOGRAPHY */

.typography {
    float: left;
		background-color: white;
		padding: 5% 5% 2%;
}

/* PRIMARY HEADING */

h1 {
	margin: 0 0 0.5em 0;

	font-family: facitweb-1, sans-serif;
	font-size: 1.5em;
	font-weight: 400;
	line-height: 1;

	color: $neutral;
}

/* PARAGRAPH */

p {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 0.9em;
	line-height: 1.6;

  margin-bottom: 1em;
}

/* BUTTON */

button { 
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 1em;
	font-weight: 700;
	text-transform: uppercase;

	width: 100%;
	padding: 0.7em 1.4em;

	background-color: $primary;
	border: 0 solid black;

	&:hover, &:focus {
		background-color: lighten($primary, 10%);
	}
}

/* ICONS */

.icons {
	padding: 0;
	margin: 4% auto;
  text-align: center;
  float: left;
  width: 100%;

	li {
    display: inline-block;
		list-style-type: none;
		text-align: center;
		width: 80px;

    .lt-ie8 & {
      display: block;
      float: left;
    }

    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
	}
}

/* SWATCHES */

.swatches {
  float: left;
  width: 100%;
	padding: 5%;
	margin: 0 auto;
}

/* COLORS */

.colors {
	float: left;
	padding-bottom: $swatch-margin * 3;
	width: 100%;

	ul {
		padding: 0;
		margin: 0;
	}
		
	li {
		@include hide-text;

		list-style-type: none;

		float: left;
		width: ( 100% - ( $swatch-margin * ($num-colors - 1) ) ) / $num-colors;

		.lt-ie9 & {
      width: (( 100% - ( $swatch-margin * ($num-colors - 1) ) ) / $num-colors) - 1;
		}

		padding-bottom: 18%;
		margin: 0 $swatch-margin 0 0;

		background-color: #222;

		&:last-child {
			margin-right: 0;
		}
	}

	.primary { background-color: $primary; }
	.secondary { background-color: $secondary; }
	.neutral { background-color: $neutral; }
}


/* DETAILS */

.details {
	float: left;
	width: 100%;

	ul {
			margin: 0;
			padding: 0;
	}

	li {
		list-style-type: none;

		float: left;
		overflow: hidden;
		margin: 0 0 $swatch-margin 0;
    position: relative;
		
    &.a, &.b {
      width: 49%;
      height: 0;
      padding-bottom: 50%;
    }

    &.a {
      /* monitor icon */

      margin-right: $swatch-margin / 2;

      background: black url('../img/texture-bg.jpg') repeat-x -60% top;

      img {
        /* dimensions: 91 x 76 */

        position: absolute;
        max-width: 80%;

        top: 50%;
        margin-top: -38px;

        left: 50%;
        margin-left: -45px;
      }
    }

    &.b { 
      /* juggler */

      margin-left: $swatch-margin / 2;

      background: $secondary;

      img {
        /* dimensions: 455 x 409 */

        position: absolute;
        bottom: 0;
        left: 7%;
        width: 90%;
        min-width: 220px;
        max-width: 455px;
      }
    }

    &.c {
      /* happy devices */

      width: 100%;
      background: $primary;
      padding: 2em 0;
      text-align: center;


      img {
        /* dimensions: 638 x 405 */
        max-width: 638px;
        width: 90%;
        .lt-ie9 & {
        }
      }
    }
	}
}
