// COLOR PALETTE
$primary: #f9ae05;
$secondary: black;
$neutral: #313131;
$highlight: $primary;

// FONT STACKS
$helvetica: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$georgia: Georgia, Times, serif;

// LENGTHS
$page-width: 1300px;
$padding: 2em;
