// COLOR PALETTE
$primary: #13A89E;
$secondary: #F1592A;
$neutral: black;
$highlight: $primary;

// FONT STACKS
$helvetica: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$georgia: Georgia, Times, serif;

// LENGTHS
$page-width: 100%;
$page-width-fallback: 960px;
$padding: 2em;
$swatch-margin: 2%;

// OTHER
$num-colors: 3;
